<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>Pagina_Login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>pool_conexiones</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSesion</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCuentasActivo</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorCuentasActivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCuentasPasivo</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorCuentasPasivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCuentasGasto</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorCuentasGasto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDepartamento</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorDepartamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCalculosContables</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorCalculosContables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCodigoActivo</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorCodigoActivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDatosInstitucionalesEmpleado</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorDatosInstitucionalesEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIngresoActivo</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorIngresoActivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProveedor</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReporteFichaActivos</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorReporteFichaActivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorActivoEmpleado</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorActivoEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAF_ROL</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorAF_ROL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInfoEmpleado</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorInfoEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListaEmpleado</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorListaEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorListaUsuarios</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorListaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRol</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarioRol</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorUsuarioRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorActivosAlta</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorActivosAlta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBajaActivo</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorBajaActivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModificacion</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorModificacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorIngresoUsuarioNuevo</servlet-name>
        <servlet-class>umg.analisisdesistemas1.com.controlador.ControladorIngresoUsuarioNuevo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSesion</servlet-name>
        <url-pattern>/ControladorSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCuentasActivo</servlet-name>
        <url-pattern>/ControladorCuentasActivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCuentasPasivo</servlet-name>
        <url-pattern>/ControladorCuentasPasivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCuentasGasto</servlet-name>
        <url-pattern>/ControladorCuentasGasto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDepartamento</servlet-name>
        <url-pattern>/ControladorDepartamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCalculosContables</servlet-name>
        <url-pattern>/ControladorCalculosContables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCodigoActivo</servlet-name>
        <url-pattern>/ControladorCodigoActivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDatosInstitucionalesEmpleado</servlet-name>
        <url-pattern>/ControladorDatosInstitucionalesEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIngresoActivo</servlet-name>
        <url-pattern>/ControladorIngresoActivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProveedor</servlet-name>
        <url-pattern>/ControladorProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReporteFichaActivos</servlet-name>
        <url-pattern>/ControladorReporteFichaActivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorActivoEmpleado</servlet-name>
        <url-pattern>/ControladorActivoEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAF_ROL</servlet-name>
        <url-pattern>/ControladorAF_ROL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInfoEmpleado</servlet-name>
        <url-pattern>/ControladorInfoEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListaEmpleado</servlet-name>
        <url-pattern>/ControladorListaEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorListaUsuarios</servlet-name>
        <url-pattern>/ControladorListaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRol</servlet-name>
        <url-pattern>/ControladorRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarioRol</servlet-name>
        <url-pattern>/ControladorUsuarioRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorActivosAlta</servlet-name>
        <url-pattern>/ControladorActivosAlta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBajaActivo</servlet-name>
        <url-pattern>/ControladorBajaActivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModificacion</servlet-name>
        <url-pattern>/ControladorModificacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorIngresoUsuarioNuevo</servlet-name>
        <url-pattern>/ControladorIngresoUsuarioNuevo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>3000</session-timeout>
    </session-config>
</web-app>
